<!-- TEMPLATE POSTER DE LA PELICULA PARA JQUERY-->
<div class="card">
  <!-- Agregando id="poster"para dar altura y ancho a la imagen en css -->
  <img id="poster" class="card-img-top" src="" alt="Card image cap">
</div>


<!-- TEMPLATE TRAILER DE LA PELICULA PARA JQUERY-->
<div class="card">
  <!-- Agregando video trailer -->
  <iframe width="480" height="330" src="" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>


<!-- TEMPLATE INFORMACION DE LA PELICULA PARA JQUERY-->
<div class="card">
  <div class="card-block">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
    in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </div>
</div>


<!-- TEMPLATE IMAGEN DEL COMIC FIRST APPEARANCE PARA JQUERY-->
<div class="card">
  <!--Agregue clase comic en img para dar tamaño en css-->
  <a href=""><img class="card-img-top comic" src="" alt="Card image cap"></a>
  <div class="card-block">
    <h6 class="card-title">First Appearance:</h6>
    <p class="card-text">NOMBRE DEL COMIC</p>
    <p class="card-text"><small class="text-muted">Click on the image for more information</small></p>
  </div>
</div>


<!-- TEMPLATE IMAGENES DEL COMIC MOST POPULAR PARA JQUERY-->
<div class="card">
  <!--Agregue clase comic en img para dar tamaño en css-->
  <a href=""><img class="card-img-top comic" src="" alt="Card image cap"></a>
  <div class="card-block">
    <h6 class="card-title">Most Popular Comic:</h6>
    <p class="card-text">NOMBRE DEL COMIC</p>
    <p class="card-text"><small class="text-muted">Click on the image for more information</small></p>
  </div>
</div>


<!-- TEMPLATE DEl COMIC WHERE TO BEGIN PARA JQUERY-->
<div class="card">
  <!--Agregue clase comic en img para dar tamaño en css-->
  <a href=""><img class="card-img-top comic" src="" alt="Card image cap"></a>
  <div class="card-block">
    <h6 class="card-title">Where To Begin:</h6>
    <p class="card-text">NOMBRE DEL COMIC</p>
    <p class="card-text"><small class="text-muted">Click on the image for more information</small></p>
  </div>
</div>
