<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>footer snipped</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link rel="stylesheet" href="assets\css\style.css">
</head>

<body>

  <!--MAQUETA CARROUSEL -->

  <!--Carrrousel-->
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <h1>Comming Soon</h1>
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active" id="img1">

              <!-- Aqui va imagen de pelicula -->

            </div>
            <div class="carousel-item" id="img2">

              <!-- Aqui va imagen de pelicula -->

            </div>
            <div class="carousel-item" id="img3">

              <!-- Aqui va imagen de pelicula -->

            </div>
            <div class="carousel-item" id="img4">

              <!-- Aqui va imagen de pelicula -->

            </div>
            <div class="carousel-item" id="img5">

              <!-- Aqui va imagen de pelicula -->

            </div>
            <div class="carousel-item" id="img6">

              <!-- Aqui va imagen de pelicula -->

            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
        </div>
      </div>
    </div>
  </div>





  <!--Script-->
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <script src="https://use.fontawesome.com/61e76361dd.js"></script>

  <!--Archivos javascript funciones jquery y data-->
  <script type="text/javascript" src="assets/data/estrenos.js"></script>
  <script type="text/javascript" src="assets/js/carrousel.js"></script>
</body>

</html>
