* {
	font-family: 'Roboto', sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background-image: url('../img/fondo.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Carrousel  */

h1{
	color: white;
}

/* carousel container */

#img1 {
	background-image: url(../img/Estreno1.jpg);
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
  height: 400px;
	
}

#img2 {
	background-image: url(../img/Estreno2.jpg);
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
  	height: 400px;
}

#img3 {
	background-image: url(../img/Estreno3.jpg);
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
  	height: 400px;
}

.navbar-inverse{
  background-color:#000;
  position: sticky-top;
}

/*NAVBAR*/
.navbar-brand{
  width:10%;
  height:8vh;
  margin-left: 1em;
}

.navbar-header img{
  width: 8em;
  height: 3em;
}

/*BUSCADOR*/
.form-control{
  border-radius: 4px;
  border-color: #E91215;
}

/* menu accordion */
.panel-body { padding:0px; }
.panel-body table tr td { padding-left: 15px }
.panel-body .table {margin-bottom: 0px; }

/* fin de menu */


.gl-star-rating[data-star-rating] .gl-star-rating-stars {
    display: inline-block;
    height: 26px;
    vertical-align: middle;
    cursor: pointer;
}
.gl-star-rating[data-star-rating] .gl-star-rating-text {
    display: inline-block;
    position: relative;
    height: 26px;
    line-height: 26px;
    font-size: 0.8em;
    font-weight: 600;
    color: #fff;
    background-color: #1a1a1a;
    white-space: nowrap;
    vertical-align: middle;
    padding: 0 12px 0 6px;
    margin: 0 0 0 12px;
}

