*::-webkit-scrollbar-thumb {
  background-color: #f0141e;
}

*::-webkit-scrollbar {
  width: 4px;
  background: transparent;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  width: 100%;
  /* height: 100vh; */
  /* background-image: url('../img/fondo.jpg'); */
  background-color: black;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
}

/* nav.navbar {
  border-bottom: 3px solid #54d400;
} */

#logo {
  width: 30px;
  height: 30px;
}

a.navbar-brand {
  text-transform: uppercase;
}

div.collapse.navbar-collapse {
  justify-content: flex-end;
}

button.navbar-toggler.navbar-toggler-right {
  border-radius: 0;
}

button.btn.btn-outline-success.btn-sm {
  color: #f0141e;
  border-color: #f0141e;
  margin-left: 1em;
  border-radius: 0;
}

button.btn.btn-outline-success.btn-sm:hover {
  color: #fff;
  background-color: #f0141e;
  border-color: #f0141e;
}

input.form-control.form-control-sm {
  max-width: 200px;
  border-radius: 0;
}

input.form-control.form-control-sm::-webkit-input-placeholder {
  font-family: "Roboto Condensed", sans-serif;
}

input.form-control.form-control-sm:-ms-input-placeholder {
  font-family: "Roboto Condensed", sans-serif;
}

input.form-control.form-control-sm:-moz-placeholder {
  font-family: "Roboto Condensed", sans-serif;
}

input.form-control.form-control-sm::-moz-placeholder {
  font-family: "Roboto Condensed", sans-serif;  
}

#main-container {
  overflow: hidden;
}

#movies-container {
  padding: 0;
}

#movies {
  min-height: 80vh;
  background-color: #E3E3E3;
  /* box-shadow: 0px 0px 40px 40px rgba(255, 255, 255, 0.6); */
  overflow: auto;
  padding-bottom: 0;
}

.col-12 {
  background-color: transparent;
  /* padding: 1em; */
}

.content {
  display: inline-block;
  text-align: center;
  width: 200px;
  margin: 1em;
  overflow: hidden;
  cursor: pointer;
}

.content img {
  height: 200px;
  border-radius: 5px;
}

.content h2 {
  font-size: 1em;
}

.img-comic {
  height: 150px;
  width: 100px;
}

#comics-info a {
  font-size: 0.8em;
  color: #f0141e;
}

#comics-info a span {
  width: 100px;
}

.description-comic {
  display: block;
}

#comics-info .col-sm-4 {
  height: 200px;
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  text-align: center;
  line-height: 1.3;
  margin-top: 0.5em;
}

.modal-poster {
  width: 14em;
}

.p-plot {
  margin-top: 1em;
}

#trailer iframe {
  width: 100%;
  height: 331px;
}

#sidebar {
  padding: 0;
}

#sidebar .panel-group {
  background-color: #f0141e;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 5px;
}

#sidebar .panel-title {
  width: 100%;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 300;
  margin-top: 8px;
}

#sidebar .panel-title a {
  display: block;
  width: 100%;
  text-decoration: none;
  color: white;
}

#sidebar .panel-body {
  background-color: white;
  text-align: center;
}

#sidebar .panel-heading {
  border-bottom: 1px solid white;
}

/*footer*/
.footer {
  background: #2b2a2a none repeat scroll 0 0;
  margin: 0;
  padding: 20px 0;
}

.footer img {
  width: 100%;
}

.footer_dv {
  width: 100%;
}

.footer_dv h4 {
  color: #fff;
  font-weight: bold;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.footer_dv ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

.footer_dv ul li:first-child {
  border-top: medium none;
  box-shadow: none;
}

.footer_dv ul li {
  color: #fff;
  padding: 5px 0;
}

.footer_dv p {
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  margin: 0 0 15px;
  text-align: justify;
}

.a-font {
  color: #fff!important;
  text-decoration: none!important;

}

.copyright {
  min-height: 79px;
  background-color: #343a40;
}

.copyright p {
  text-align:left;
  color:#FFF;
  padding:10px 0;
  margin-bottom:0px;
}

.heading7 {
  font-size:21px;
  font-weight:700;
  color:#d9d6d6;
  margin-bottom:22px;
}

.post p {
  font-size:12px;
  color:#FFF;
  line-height:20px;
}

.post p span {
  display:block;
  color:#8f8f8f;
}

.bottom_ul {
  list-style-type:none;
  float: right;
  margin-bottom: 0px;
  padding-top: 22px;
}

.bottom_ul li {
  float:left;
  line-height:40px;
}

.bottom_ul li::after {
  content:"";
  color:#FFF;
  margin-right:8px;
  margin-left:8px;
}

.bottom_ul li a {
  color:#FFF;
}

#copyright p, #copyright ul {
    margin: 0;
    font-size: 14px;
    color: #fff;
    text-align: center;
}

footer.site-footer ul {
    padding-left: 0;
    margin-bottom: 20px;
    list-style: none;
}

.list-inline>li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}
.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}
.py-5 {
    padding-top: 3rem!important;
    padding-bottom: 3rem!important;
}
.bg-dark {
    background-color: #222!important;
}

#linkMarvel{
  margin-top: 3em;
  margin-left: 1em;
}

#iconRed{
  display: flex;
  margin-top: 1.5em;
}

.iconSocialMedia{
  margin: 0.5em;
  font-size: 2em;
}

.d-block {
  height: 300px;
  width: 100%;
}

#first-item {
  background-image: url('../img/fondo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


@media (max-width: 992px) {
  #modal .modal-body .container-fluid .col-lg-4, #modal .modal-body .container-fluid .col-lg-8  {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
  }

  #info {
    text-align: center;
  }

  #sidebar {
    padding-left: 0;
  }
  
  #sidebar .panel-group {
    width: 100%;
  }

  .footer_dv {
    text-align: center;
  }

  #social-net {
    display: flex;
    justify-content: center;
  }

  .panel-title {
    text-align: center;
  }
}

@media (min-width: 768px){
  .navbar-right {
    float: right!important;
    margin-right: -15px;
  }
}